<div #screen class="screen">
    <div class="header" [class.raised]="scrolling$ | async">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <span class="top-bar-title"></span>

        <div class="actions">
            <button *ngIf="canEdit$ | async" mat-icon-button class="secondary-button" [routerLink]="'edit'">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>

    <div class="content">
        <div class="avatar">
            <mat-icon>account_circle</mat-icon>
        </div>
        <span class="title">{{ (casualty$ | async)?.name }}</span>
        <span class="secondary-text">{{ (casualty$ | async)?.age }} ani</span>

        <div class="injuries-list">
            <mat-chip-list class="simple-chip-list">
                <mat-chip *ngFor="let injury of (casualty$ | async)?.injuries" selectable="false" focused="false" disableRipple>
                    {{ injury.name }}
                </mat-chip>
            </mat-chip-list>
        </div>

        <div class="text">
            {{ (casualty$ | async)?.details }}
        </div>
    </div>

    <div class="footer">
        <div class="actions">
            <button mat-raised-button color="accent" [routerLink]="'norm'">
                Arbitrează
            </button>
        </div>
    </div>
</div>