$primary: #EE1B25;
$dark-grey: #212121;
$grey: #616161;
$light-grey: #9e9e9e;
$white-grey: #f3f3f3;
$lightest-grey: #f7f7f7;

$elevate-2: 0 2px 4px -1px rgba(0, 0, 0, .1),
    0 1px 3px -1px rgba(0, 0, 0, 0.1);
$elevate-4: 0 8px 12px -3px rgba(0, 0, 0, .08),
    0 1px 3px -5px rgba(0, 0, 0, .2);

$primary-font: 'Roboto', sans-serif;

$transition: all 135ms cubic-bezier(.4,0,.2,1);