<div #screen class="screen">
    <div class="header" [class.raised]="scrolling$ | async">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <span class="top-bar-title" [class.hidden]="!(showTitle$ | async)">
            {{ (case$ | async)?.name }}
        </span>

        <div class="actions">
            <button mat-icon-button class="secondary-button" [routerLink]="'edit'">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="(loading$ | async)" class="content content-placeholder">
        <div class="box-placeholder title-placeholder"></div>
        <div class="text-placeholder">
            <div class="box-placeholder line-placeholder"></div>
            <!-- <div class="box-placeholder line-placeholder"></div> -->
            <div class="box-placeholder line-placeholder"></div>
        </div>

        <div class="casualties casualties-placeholder">
            <div class="box-placeholder label-placeholder"></div>

            <div class="box-placeholder casualty-placeholder"></div>
            <div class="box-placeholder casualty-placeholder"></div>
            <!-- <div class="box-placeholder casualty-placeholder"></div> -->
        </div>
    </div>

    <div [hidden]="(loading$ | async)" class="content">
        <div class="content-header">
            <span class="title">{{ (case$ | async)?.name }}</span>
            <span *ngIf="(case$ | async)?.details" class="text">{{ (case$ | async)?.details }}</span>
        </div>

        <div class="casualties">
            <label class="label">Victime</label>
            <div class="casualties-container">
                <app-casualty-card-v2 *ngFor="let casualty of casualties$ | async" [casualty]="casualty" [baseRoute]="'casualties'">
                </app-casualty-card-v2>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="actions">
            <button mat-raised-button color="accent" [routerLink]="'casualties/7VmD9bzw9zsjHhyfNwNt/chief-norm'">
                <!-- Publică -->
                <!-- Alege -->
                Începe caz
            </button>
        </div>
    </div>
</div>