<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let injury of injuries; let injuryIndex = index"
        [expanded]="objectKeys(expandedMap$ | async).length ? (expandedMap$ | async)[injuryIndex] : true"
        (opened)="onExpandedChange(injuryIndex, true)"
        (closed)="onExpandedChange(injuryIndex, false)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ injury.name }}
            </mat-panel-title>
            <mat-panel-description *ngIf="showCounting" class="secondary-text"
                [class.error]="getCount(injuryIndex) !== injury.maneuvers.length">
                {{ getCount(injuryIndex) }}/{{ injury.maneuvers.length }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-maneuver-norm-list-item *ngFor="let maneuver of injury.maneuvers; let maneuverIndex = index"
            [maneuver]="maneuver" (scoreChange)="onScoreChange(injuryIndex, maneuverIndex, $event)">
        </app-maneuver-norm-list-item>
    </mat-expansion-panel>
</mat-accordion>