<div #screen class="screen">
    <div class="header" [class.raised]="scrolling$ | async">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <span class="top-bar-title">00:00</span>

        <div class="actions">
            <button mat-icon-button class="secondary-button">
                <mat-icon>info_outline</mat-icon>
            </button>
        </div>
    </div>

    <div class="content">
        <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let injury of (injuries$ | async); let injuryIndex = index" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ injury.name }}
                    </mat-panel-title>
                    <mat-panel-description class="secondary-text" [class.error]="getCount(injuryIndex) !== injury.maneuvers.length">
                        {{ getCount(injuryIndex) }}/{{ injury.maneuvers.length }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
        
                <app-maneuver-norm-list-item *ngFor="let maneuver of injury.maneuvers; let maneuverIndex = index"
                    [maneuver]="maneuver"
                    (scoreChange)="setSelectedScore(injuryIndex, maneuverIndex, $event)"></app-maneuver-norm-list-item>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="footer">
        <div class="actions">
            <button mat-raised-button color="accent" (click)="openNormReview()">
                Finalizează
            </button>
        </div>
    </div>
</div>