@import "../../../assets/scss/variables";

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 0;
    flex-grow: 1;
}

.screen {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 96px;
}

.title{
    text-align: center;
}

.score{
    font-family: $primary-font;
    font-size: 48px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 42px;

    .total-score{
        font-size: 16px;
        color: $light-grey;
        font-weight: 400;
    }
}

.perfect-score{
    margin-bottom: 16px;
}

.expanding-header{
    border: none;
}

mat-accordion{
    width: 100%;

    &::ng-deep{
        .mat-expansion-panel-body{
            padding: 0 24px;
        }

        .mat-expansion-panel:not([class*=mat-elevation-z]){
            box-shadow: none;
            border: none;
        }
    }
}

.laps{
    display: flex;
    flex-direction: column-reverse;
}

.counter{
    display: inline-block;
    min-width: 40px;
}