:host{
    display: flex;
}

.casualty-card{
    position: relative;
    width: 100%;
    border-radius: 6px;
    border: solid 1px #F3F3F3;
    box-shadow: 0 8px 12px -3px rgba(0, 0, 0, .08),
        0 1px 3px -3px rgba(0, 0, 0, .2);
    background-color: #fff;
    transition: all 150ms ease;

    &:active {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .1),
        0 1px 3px -1px rgba(0, 0, 0, 0.1);
    }
}

.card-header{
    display: flex;
    align-items: center;
    padding: 20px 24px 0;
    margin-bottom: 20px;

    .card-avatar{
        display: flex;
        mat-icon{
            width: 28px;
            height: 28px;
            font-size: 28px;
            color: rgba($color: #000, $alpha: 0.64);
        }
    }

    .card-text{
        margin-left: 8px;
        display: flex;
    }
}

.card-title{
    font-size: 16px;
    font-weight: 600;
    margin-right: 4px;
}

.card-subtitle{
    color: rgba(0, 0, 0, .54);
    display: none;
}

.card-content{
    padding: 0 24px 8px;
}

.details{
    color: rgba(0, 0, 0, .54);
    margin: 20px 0 16px;
}