:host{
    display: flex;
}

.casualty-card{
    position: relative;
    width: 100%;
    border-radius: 6px;
    border: solid 1px #F3F3F3;
    box-shadow: 0 8px 12px -3px rgba(0, 0, 0, .08);
    background-color: #fff;
}

.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 32px 0;

    .card-subtitle{
        margin-bottom: 20px;
    }
}

.card-title{
    font-size: 16px;
    font-weight: 600;
}

.card-subtitle{
    color: rgba(0, 0, 0, .42);
}

.card-content{
    padding: 0 32px 8px;
}

.details{
    color: rgba(0, 0, 0, .42);
    margin: 20px 0 16px;
}

mat-chip-list{
    ::ng-deep{
        .mat-chip.mat-standard-chip{
            background-color: #F3F3F3;
        }
    }
}