@import "../../../assets/scss/variables";

:host{
    display: flex;
}

.custom-card{
    // position: relative;
    // width: 100%;
    // border-radius: 6px;
    // border: solid 1px #F3F3F3;
    // box-shadow: $elevate-4;
    // background-color: #fff;
    // transition: $transition;

    // &:active {
    //     box-shadow: $elevate-2;
    // }

    // &.new{
    //     &:before{
    //         content: '';
    //         position: absolute;
    //         left: 10px;
    //         top: 50%;
    //         transform: translate(0, -50%);
    //         width: 6px;
    //         height: 6px;
    //         background-color: $primary;
    //         border-radius: 50%;
    //     }
    // }
}

.card-content{
    padding: 8px 24px;
    min-height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    font-family: $primary-font;
    margin: 0;
}